.header {
  width: calc( 100% - 200px);
  background: red;
  padding: 20px 0;
  position: absolute;
  right: 0;
  transition: width 0.1s linear;
  
}
.container {
    padding-top: 10px;
    /* width: 1082px; */
    margin: 0 auto;
   
  }
  .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header1 {
    width: 100%;
  }